body {
    background-color: #171715;
    color: #000000; /* Schwarz */
    font-family: "Courier 10 Pitch", sans-serif;
    text-decoration: none; /* Unterstreichung entfernen */
}

h1 {
    color: snow;
    text-align: center;
    margin-bottom: 1px;
}

/*Item list logo*/
.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Bildschirmhöhe */

    margin-bottom: 1px; /* Abstand unterhalb des Bildes */
}

.logo {
    max-width: 100%; /* Maximale Breite des Bildes */
    max-height: 100%; /* Maximale Höhe des Bildes */
}

/*item list table*/
table {
    margin: 0 auto; /* Tabelle zentriert ausrichten */
    width: 50%; /* Breite der Tabelle */
    border-collapse: collapse; /* Zusammenführen der Tabellenrahmen */
    background-color: lightgrey;

}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid darkgray; /* Grau */
    font-size: 16px; /* Hier die gewünschte Schriftgröße einfügen */
}

th {
    background-color: #eeeeee; /* Hellgrau */

}

/*Vocabulary card*/
.cardbutton-container {
    width: 1000px; /* Breite des Containers */
    height: auto; /* Höhe des Containers an den Inhalt anpassen */
    margin: 130px auto; /* zentrierte Ausrichtung */
    margin-bottom: 50px;
    position: relative; /* relative Positionierung */
    z-index: 1; /* Z-Index, um sicherzustellen, dass der Container über anderen Elementen liegt */
    text-decoration: none; /* Unterstreichung entfernen */
    display: flex; /* Flexbox-Layout */
    flex-direction: column; /* Anordnung der Elemente in Spalten */
    align-items: center; /* Zentriert die Elemente horizontal */
}

.cardbutton {
    width: 1000px; /* Breite des Buttons */
    height: 600px; /* Höhe des Buttons */
    background-color: darkgray;
    border-radius: 10px;
    border: 2px solid dimgray; /* Dicke der Umrandung und Farbe */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Schatten */
    font-size: 70px; /* Schriftgröße */
    cursor: pointer; /* Zeiger-Cursor beim Überfahren des Buttons */
    text-decoration: none; /* Unterstreichung entfernen */
}

.cardbutton:hover {
    border-color: white; /* Farbe der Umrandung beim Überfahren */
    background-color: lightgrey;
}

.big-bold {
    font-size: 1.3em;
    font-weight: bold;
}

.small-thin {
    font-size: 0.5em;
    font-weight: normal;
    font-style: italic;
}

.learnCards {
    margin-top: 20px; /* Abstand zum Titel */
    background-color: dimgray;
    color: white; /* Schriftfarbe auf Weiß setzen */
    font-size: medium;
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Unterstreichung entfernen */
    /* Neue Stile für vertikales Zentrieren */
    display: block;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 20px;
}

/*Button for known and unknown in Vocabulary back side card*/
.known-container {
    text-align: center;
    margin-top: 5px;
}

.known {
    padding: 30px 60px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #1e301d;
}

.unknown {
    color: #3f0800;
    padding: 30px 60px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Button on item list to learn Vocabulary, insert new Item, extract new words*/
.actionButton {
    background-color: dimgray;
    color: white;
    font-size: 18px;
    padding: 20px 40px;
    font-family: "Courier 10 Pitch", sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px; /* Fügt seitlichen Abstand zwischen den Buttons hinzu */
}
.actionButton:hover {
    background-color: lightgrey; /* Farbe ändern, wenn Mauszeiger darüber bewegt wird */
    color: #171715;
}
.edit-button-container {
    display: flex; /* Flexbox verwenden */
    justify-content: center; /* Zentriert die Buttons horizontal */
    margin: 20px;
}

a {
    text-decoration: none; /* Unterstreichung entfernen */
}

/*navigation back to item list*/
.back-link {
    font-size: 30px;
    color: snow; /*! *Schriftfarbe auf Weiß setzen *! *!*/
    text-decoration: none; /* Unterstreichung entfernen */
    font-family: "Courier 10 Pitch", sans-serif;
    margin-top: 30px;
    margin-left: 40px;

}

.back-link:hover {
    color: lightgrey; /* Farbe ändern, wenn Mauszeiger darüber bewegt wird */
}

.button-container {
    display: flex; /* Flexbox verwenden */
    justify-content: center; /* Zentriert die Buttons horizontal */
    margin-bottom: 20px;
}

tr td .button-inline-container {
    display: flex; /* Flexbox verwenden */
    align-items: center; /* Elemente vertikal zentrieren */
    margin-left: auto; /* Automatische linke Marge hinzufügen */
    font-family: "Courier 10 Pitch", sans-serif;

}

/*delete button on item list*/
.delItem {
    margin-left: 30px;
    background-color: #3f0800;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.delItem:hover {
    background-color: dimgray; /* Farbe ändern, wenn Mauszeiger darüber bewegt wird */
    color: #171715;
}

/*button to show details page*/
.detailsButton {

    background-color: #1e301d; /* Dark green color */
    color: white;
    padding: 15px 25px; /* Inherit padding from delItem */
    border: none;
    border-radius: 4px; /* Inherit border-radius from delItem */
    cursor: pointer; /* Inherit cursor from delItem */
}
.detailsButton:hover {
    background-color: dimgray; /* Farbe ändern, wenn Mauszeiger darüber bewegt wird */
    color: #171715;
}
/*insert new item*/
/* Stil für den weißen Kasten */
.container {
    width: 600px;
    margin: 0 auto;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px; /* Größere Schriftgröße */
}

/* Stil für den Titel */
.newWord {
    margin-top: 100px;
    font-size: 30px;
}

/* Stil für die Eingabefelder */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px; /* Größere Schriftgröße */
    box-sizing: border-box;
    outline: none;
}

.detail-container{
    width: 80%; /* Breite des Containers */
    height: 80vh; /* Höhe des Containers */
    margin: auto; /* Automatische Seitenumrandung, um den Container zu zentrieren */
    display: flex; /* Verwenden von Flexbox für Layout */
    flex-direction: column; /* Anordnung der Elemente in Spalten */
    justify-content: center; /* Zentrierung vertikal */
    align-items: center; /* Zentrierung horizontal */

}