body {
    background-color: #171715;
    color: #000000; /* Schwarz */
    font-family: "Courier 10 Pitch", sans-serif;
    text-decoration: none; /* Unterstreichung entfernen */
}

h1 {
    color: snow;
    text-align: center;
    margin-bottom: 1px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Bildschirmhöhe */

    margin-bottom: 1px; /* Abstand unterhalb des Bildes */
}

.logo {
    max-width: 100%; /* Maximale Breite des Bildes */
    max-height: 100%; /* Maximale Höhe des Bildes */
}

table {
    margin: 0 auto; /* Tabelle zentriert ausrichten */
    width: 50%; /* Breite der Tabelle */
    border-collapse: collapse; /* Zusammenführen der Tabellenrahmen */
    background-color: lightgrey;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid darkgray; /* Grau */
}

th {
    background-color: #eeeeee; /* Hellgrau */
}

.cardbutton {
    width: 1000px; /* Breite des Buttons */
    height: 600px; /* Höhe des Buttons */
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 150px auto;
    border: 2px solid dimgray; /* Dicke der Umrandung und Farbe */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Schatten */
    font-size: 70px; /* Schriftgröße */
    cursor: pointer; /* Zeiger-Cursor beim Überfahren des Buttons */
    text-decoration: none; /* Unterstreichung entfernen */

}

.cardbutton:hover {
    border-color: white; /* Farbe der Umrandung beim Überfahren */
    background-color: lightgrey;
}

.cardbutton-container {
    width: 1000px; /* Breite des Buttons */
    height: 600px; /* Höhe des Buttons */
    margin: 130px auto; /* zentrierte Ausrichtung */
    margin-bottom: 50px;
    position: relative; /* relative Positionierung */
    z-index: 1; /* Z-Index, um sicherzustellen, dass der Button über anderen Elementen liegt */
    text-decoration: none; /* Unterstreichung entfernen */
}

.btn-container {
    text-align: center;
    margin-top: 5px;
}

.btn {
    padding: 30px 60px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.learnCards {
    margin-top: 20px; /* Abstand zum Titel */
    background-color: dimgray;
    color: white; /* Schriftfarbe auf Weiß setzen */
    font-size: medium;
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Unterstreichung entfernen */
    /* Neue Stile für vertikales Zentrieren */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

a {
    text-decoration: none; /* Unterstreichung entfernen */

}


.back-link {
    font-size: 30px;
    color: snow; /*! *Schriftfarbe auf Weiß setzen *! *!*/
    text-decoration: none; /* Unterstreichung entfernen */
    font-family: "Courier 10 Pitch", sans-serif;
    margin-top: 30px;
    margin-left: 40px;

}
.back-link:hover {
    color: lightgrey; /* Farbe ändern, wenn Mauszeiger darüber bewegt wird */
}