body {
    background-color: #171715;
    color: #000000; /* Schwarz */
    font-family: "Courier 10 Pitch", sans-serif;
}

h1 {
    color: snow;
    text-align: center;
    margin-bottom: 1px;
}
.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Bildschirmhöhe */

    margin-bottom: 1px; /* Abstand unterhalb des Bildes */
}
.logo {
    max-width: 100%; /* Maximale Breite des Bildes */
    max-height: 100%; /* Maximale Höhe des Bildes */
}

table {
    margin: 0 auto; /* Tabelle zentriert ausrichten */
    width: 50%; /* Breite der Tabelle */
    border-collapse: collapse; /* Zusammenführen der Tabellenrahmen */
    background-color: lightgrey;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid darkgray; /* Grau */
}

th {
    background-color: #eeeeee; /* Hellgrau */
}
